.conner {
  position: relative;
  display: flex;
  justify-content: center;
  // border: 1px solid whitesmoke;
  &::before {
    content: "";
    pointer-events: none;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-color: transparent;
    border-style: solid;
    border-image-slice: 61%;
    border-image-width: 10px;
    border-image-source: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 5"><rect x="0" y="0" width="5" height="5" fill="transparent" stroke="red" stroke-width="1" /></svg>');
  }
}
